@import 'src/assets/styles/colors';

.inputWrapper {
  position: relative;
}

.eyeIcon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.7rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: inherit;
    height: inherit;
  }
}

.light {
  svg {
    fill: $white-color;
  }
}

.dark {
  svg {
    fill: $dark-blue-color;
  }
}
