.formContainer {
  margin: 5rem 0;

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .utilsContainer {
      display: flex;
      justify-content: space-between;

      .link {
        font-size: 1rem;
        color: gray;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        text-decoration: none;

        &:hover {
          color: #f0c65c;
        }
      }
    }

    .btnContainer {
      margin-top: 2.5rem;
    }
  }
}