.button {
    border-radius: 7px;
    display: block;
    width: 7rem;
    height: 2.5rem;
    padding: 0.8rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 700;
    text-align: center;
    border: 1px transparent;
    outline: none;
    background: #ffd429;
    transition: all 0.5s ease;
}

.button:hover {
    background: #f0c51c;
}