$light-blue-color: #9AECED;
$dark-blue-color: #0B0F28;
$medium-blue-color: #1A2257;
$blue-color: #2C3B96;
$blue-color-two: #3a65b6;
$blue-color-three: #739ce7;
$pink-color: #e592b5;
$white-color: #f1f1f1;
$dark-pink-color: #ff7373;


