@import '../../../assets/styles/colors';

.checkboxWrapper {
  .label {
    cursor: pointer;
    color: $white-color;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .input {
    display: none;
  }

  .checkbox {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    border-radius: 3px;
    border: 1px solid $white-color;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      visibility: collapse;
      fill: $white-color;
    }
  }

  &:hover {
    .label {
      color: $light-blue-color;

      .checkbox {
        border: none;
        box-shadow: 0 0 0 2px $white-color;
      }
    }
  }
}

.checked {
  border-color: #f0c65c;

  .label {
    .checkbox {
      svg {
        visibility: visible;
      }
    }
  }
}